body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}


.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
}


.box {
  padding: 20px;
  margin-bottom: 20px;
  /* background-color: #ccc; */
  border: 1px solid #999;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width:480px){
    .box-1{
        background-color: rgb(61, 222, 225) !important;
    }
}

@media only screen and (min-width:481px) and (max-width: 768px){
    .box-2{
       color: white;
    }
}


@media only screen and (min-width:769px) and (max-width: 1279px){
    .box-3{
       color: white;
    }
}

@media only screen and (min-width: 1279px){
    .box-4{
       background-color: rgb(224, 20, 204) !important;
    }
}


